@model List<Zadatak2.Models.TodoViewModels.TodoViewModel>

<div>
    @foreach (var todo in Model)
    {
        <div>
            <b>@todo.Text</b>
            <br>
            @if (todo.DateDue != null)
            {
                var days = (todo.DateDue - DateTime.Today).Value.Days;
                @(todo.DateCompleted == null ? $"{todo.DateDue.Value:yyyy-MM-dd} {(days == 0 ? "(danas)" : (days == 1 ? "(sutra)" : "(za " + days + " dana)"))}" : $"{todo.DateCompleted.Value:yyyy-MM-dd} ")
            }
            <br>
            @string.Join(" ",todo.Labels.Select(l => l.Value).ToList()).Trim()
            <br>
            <form asp-action=@(todo.DateCompleted == null ? @"Completed" : @"NotCompleted")>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="Id" value=@todo.Id />
                </div>
                <a onclick="$(this).closest('form').submit()">@(todo.DateCompleted != null ? @"Remove from completed" : @"Mark as completed")</a>
            </form>
        </div>
        <br>
    }
</div>