@model List<Zadatak2.Models.TodoViewModels.TodoViewModel>

<div>
    @foreach (var todo in Model)
    {
        <div>
            <b>@todo.Text</b>
            <br>
            @if (todo.DateDue != null)
            {
                var days = (todo.DateDue - DateTime.Today).Value.Days;
                var str = $"{todo.DateDue.Value:yyyy-MM-dd} ";
                if (todo.DateCompleted == null)
                {
                    str += days == 0 ? "(danas)" : (days == 1 ? "(sutra)" : $"(za {days} dana)");
                }
                @str
            }
            <br>
            <form asp-action=@(todo.DateCompleted == null ? @"Completed" : @"NotCompleted")>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="Id" value=@todo.Id />
                </div>
                <button class="btn btn-link" type="submit">@(todo.DateCompleted != null ? @"Remove from completed" : @"Mark as completed")</button>
            </form>
        </div>
        <br>
    }
</div>