body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#tags {
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    font-family: Arial;
}

    #tags > span {
        cursor: pointer;
        display: block;
        float: left;
        color: #fff;
        background: #aaa;
        padding: 5px;
        padding-right: 25px;
        margin: 4px;
    }

        #tags > span:hover {
            opacity: 0.7;
        }

        #tags > span:after {
            position: absolute;
            content: "×";
            padding: 2px 5px;
            margin-left: 3px;
            font-size: 11px;
        }

    #tags > input {
        background: #eee;
        border: 0;
        margin: 4px;
        padding: 7px;
        width: auto;
    }
